body {
  float: right; 
  width: 35%;
  border: 2px solid black;
  /*padding: 0px 3em;*/
  margin-right: 4em; 
  /*background-color: rgb(55, 61, 67);*/
  color: rgb(243, 239, 224);
}

div.whole-quick-view {
  background-color: rgb(55, 61, 67);
  height: 100%;
}

p {
  font-size: 1.15em;
}

div.quick-view-description {
  border-bottom: 1px solid black;
  /*background-color: rgb(55, 61, 67);*/
}

div.quick-view-description, div.customer-actions {
  background-color: rgb(55, 61, 67); 
}

h1.content-title, h2.subheader, p.description, p.tags, p.content-channel2, p.content-duration {
  /*padding: 0 1em;*/
  padding: 0 2.5%;
  /*background-color: rgb(55, 61, 67);*/
}

div.quick-view-header {
  border-bottom: 1px solid black;
}

div.quick-view-subheader {
  
}

h2.subheader {
  
}

p.description {
  
}

div.first-half {
  width: 50%;

  display: inline-block;
}

div.second-half {
  /*width: 50%;*/
  float: right;
  display: inline-block;
  margin: 2% 2% 0 0;
}

div.content-channel1, div.service-duration {
  /*width: 50%;*/
}

/*button.btn {
  float: right;
}*/

div.quick-view-buttons {
  /*float: right;*/
}

div.quick-view-more {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*padding: 0 0;*/
  margin: 1% 0 0.5% 0;
} 




.btn {
  background: #3498db;
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 3em;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} 