* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
} 

body {
  font-family: "Helvetica Neue";
  color: #666;
  padding: 40px;
}

a {
  color: #D4341A;
  text-decoration: none;
}

.tc {
  text-align: center;
}

.dib {
  display: block;
}

.credit {
  position: relative;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.homebtn {
  color: #FFF;
  font-size: 1rem;
  margin: 2rem 0;
  display: inline-block;ß
}

.overlay {
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.modal {
  visibility: hidden;
}

.modal_contents {
  background-color: rgb(55, 61, 67);
  color: rgb(243, 239, 224);
  width: 32rem;
  position: absolute;
  right: 2%;
  margin-left: -16rem;
  top: 0;
  min-height: 50rem;
  /*height: 50rem;*/
  /*margin: 1%;*/
  padding: 1%;
}

.modal_contents h1 {
  margin: 0;
  padding: 0;
  /*line-height: 32rem;*/
  /*text-align: center;*/
  display: block;
}

div.quick-view-description {
  border-bottom: 1px solid black;
  border-color: rgb(243, 239, 224);
  /*background-color: rgb(55, 61, 67);*/
}

p {
  font-size: 1.125rem;
  line-height: 1.25;
}

div.first-half {
  width: 50%;
  display: inline-block;
}

div.second-half {
  float: right;
  display: inline-block;
  margin: 2% 2% 0 0;
}

i.fa-3x {
  margin-top: 28%;
}

div.quick-view-more {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*padding: 0 0;*/
  margin: 1% 0 0.5% 0;
  border-color: rgb(243, 239, 224);
} 

.modal_close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: none;
  display: none;
}

.modal-show {
  visibility: visible;
  margin: 1%;
}

.modal-transition {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show .modal-transition {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

div.customer-actions {
  /*background-color: #151515;*/
}

  

@media (max-width : 48rem) {

  .modal_contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  
  .modal_close {
    display: block;
  }
  
  .modal-transition {
    -webkit-transform: translateX(-0) translateY(150%);
    -moz-transform: translateX(-0) translateY(150%);
    -ms-transform: translateX(-0) translateY(150%);
    transform: translateX(-0) translateY(150%);
  }
  
}